*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  
}

.blue {
  display: flex;
  justify-content: center;
  background-color: blue;
  height: 3rem;
  width: 80%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.card-wrapper{
    width: 70%;
}

.search-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* gap: 2px; */
  border: 1px solid;
  border-radius: 0.2rem;
  height: 5rem;
  width: 80%;
  margin-bottom: 3rem;
}

.btn-magifyingglass {
  height: 2rem;
  width: 2rem;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  margin-left: 3rem;
  border: none;
}

.icon-magifyingglass {
  align-items: center;
}

.job-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
  border: 1px solid;
  border-radius: 0.2rem;
  height: 5rem;
  width: 100%;
  margin-bottom: 0.7rem;
}

.logo {
  display: flex;
  margin-left: 1rem;
}

.logo-image {
  height: 2.5rem;
  width: 2.5rem;
}

.company-info {
  margin-left: 1rem;
}

.tag-btn-container {
  display: flex;
  margin-left: auto;
}

.tag-btn {
  background-color: rgba(204, 229, 236, 1);
  border-radius: 0.2rem;
  padding: 0.2rem;
  text-align: center;
  margin-right: 1rem;
}
